body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 32px;
  margin-left: auto;  /* This moves the element to the right because:
  1.) right margin is still zero
  2.) width of div element is less than the max width of body element
  3.) div element is display block by default and without width set, 
      it takes up total width of parent element
  4.) thus left margin of auto will be a value greater than zero*/
}